.track {
    display: inline-block;
    width: 100%;
    height: 100px;
    border-radius: 16px;
    border: solid;
    border-width: 2px;
    border-color: rgb(94, 50, 68);
    background-color: rgb(255, 222, 242);
}

.button_section {
    float: left;
    display: inline;
    position: relative;
    left: 10px;
    top: 10px;
    width: 100px;
    height: 100%;
    opacity: 1;
}

.title_class {
    height: 10px;
    font: 22px Verdana;
}

.artist_class {
    font: 15px Verdana;
}

.text_section {
    float: left;
    display: inline;
    position: relative;
    left: 10px;
    top: 2px;
}

.play_button {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
}

.top_button {
    border-radius: 10px;
    background-color: rgb(255, 234, 255);
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    display: inline;
}

.top_text {
    font: 18px Verdana;
    line-height: 0;
}

.play_image {
    margin-top: 3px;
    width: 100%;
    height: 82%;
}

.filter {
    width: 40%;
    height: 100px;
    position: fixed;
    display: inline-block;
    left: 60%;
    top: 60px;
}

.filter_option {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 40px;
}

.filter_text {
    font: 18px Verdana;
    line-height: 0;
}
